<div class="container">
  <div class="jumbotron bg-light">
    <h2>Hello, BCG Digital Ventures!</h2>
    <br />
    <p>
      This his is my proposal for the evaluation of the Engineering Coding
      Challenge!
    </p>
    <p>
      This project was made using <strong>NodeJS</strong>
      <cite class="text-primary lead">(JavasScript)</cite> as the main
      proggramming language, <strong>Angular</strong>
      <cite class="text-primary lead">(TypeScript)</cite> for the client side
      and <strong>ExpressJS</strong> framework as the backend service. As the
      persistent layer <strong>MongoDB</strong> was used.
      <strong>Docker</strong> is used to serve the application as a
      <span class="text-secondary">SPA (Single Page Application)</span>
    </p>
    <hr />
    <p>
      As a next step you can go to the products page and add products to your
      cart.
    </p>
    <p>
      Each page as a <cite>Hint</cite> section with explanations of the expected
      behavior.
    </p>
    <span class="lead">Thanks,</span>
    <p>Atte.</p>
    <h4 class="text-primary">Eidher Escalona</h4>
    <hr />
    <p>
      <a
        class="btn btn-success btn-lg"
        [routerLink]="['/products']"
        role="button"
        >Go to Products</a
      >
    </p>
  </div>
</div>
