<div class="container">
  <div class="text-center">
    <h3>And this is the checkout page!</h3>
    <blockquote>
      <p>
        We're supposed to complete the registration of the user here asking for
        shipping and payment method etc but for time limitations that's
        something I didn't do.
      </p>
    </blockquote>
    <hr />
    <h3>So what improvements could we do?</h3>
    <ul class="list-unstyled">
      <li>Actually, a lot..</li>
      <li>Add taxes to the prices in the cart.</li>
      <li>Verify the inventory existence before checkout.</li>
      <li>Add some more information about the product, etc.</li>
      <li>
        In the coding part, add more test, actually, add tests! VERY IMPORTANT!
      </li>
      <i
        >Using aggregations queries to reduce the amount of database requests.
      </i>
      <li>More input validations on the server side.</li>
    </ul>
    <hr />
    <p>
      <a
        class="btn btn-success btn-lg"
        [routerLink]="['/contact']"
        role="button"
        >Next Step
        <span
          class="glyphicon glyphicon glyphicon-thumbs-up"
          aria-hidden="true"
        ></span
      ></a>
    </p>
  </div>
</div>
